.ant-table-small {
    border: none;
    border-radius: 0;
    border-radius: 2px;
}
.ant-card-grid {
    padding: 10px;
    width: 100%;
}
.ant-card-wider-padding .ant-card-body {
    padding: 15px;
    h2 {
        padding-left: 8px;
        padding-right: 8px;
        padding-bottom: 3px;
        border-bottom: 1px solid rgb(231, 234, 236);
    }
    h4 {
        padding: 3px 10px 0px;
    }
}
.littleCard .ant-card-body{
    padding: 0px;
    
}
.ant-table-small .ant-table-thead > tr > th {
    font-size: 14px;
    border: none;
}
.ant-table-tbody > tr > td {
    border: none;
}
#legend {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    background: rgba(255,255,255,.8);
}
#legend ul li i{
    background-size: cover;
    height: 15px;
    width: 12px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
#legend ul li:nth-child(1) i {
    background-image: url('../../static/media/blue.png');
}
#legend ul li:nth-child(2) i {
    background-image: url('../../static/media/green.png');
}
#legend ul li:nth-child(3) i {
    background-image: url('../../static/media/purple.png');
}